* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #e4f1fe;
}

h1 {
    background: #8dc6ff;
    color: inherit;
    margin-top: 10px;
    padding-left: 3px;
    border-right: 2px solid #6e9ecb;
    border-bottom: 2px solid #6e9ecb;
    margin-bottom: 1px;
}

nav {
    margin-top: 0px;
    border-top: 2px solid #6e9ecb;
    border-left: 2px solid #6e9ecb;

}

footer {
    margin-top: 2px;
    border-top: 2px solid #6e9ecb;
    border-right: 2px solid #6e9ecb;
}


img {
    width: 100%;
    object-fit: cover;
}

header {
    /*border: 2px solid yellow;*/
}

.wants {
    border: 2px solid #6e9ecb;
    margin-bottom: 0px;
    margin-top: 2px;
}


h1 {
    /*border: 2px solid green;*/
}

nav a {
    text-decoration: none;
}

nav li {
    display: flex;
}

nav li:hover {
    background-color: tan;
}
@media screen and (min-width: 800px) {

    img {
        height: 750px;
    }

    nav li {
        flex: 1 1 auto;
    }

}




