* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    object-fit: cover;
    height: 350px;
}

main div {
    padding: 10px;
    border: 2px solid black;
}

main div img {
    outline: 2px solid red;
}

main div p {
    outline: 2px solid greenyellow;
}


